/* @import url(common.css);  h2 글자 작아짐*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

hr{margin:50px 0}

.btn{
  font-size:18px;
  width:150px;
  padding:7px;
  outline:none;
  cursor: pointer;
  transition:0.35s;
}

/* POPUP BOX */
.pop{
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  z-index:99999;
  overflow:auto;
}

.mobile_btn .close img{
  position:fixed;
  right:30px;
  top:30px;
  width:50px;
  height:50px;  
}

.c3{ /* 모바일용 */
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

iframe{
  border:none;
}