@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_mockup {
  border: 3px solid #f9dedb;
  width: 430px;
  height: 850px;
  border-radius: 60px;
  position: relative;
  background-color: #fff5f4;
  /* box-shadow:5px 5px 30px rgb(177, 177, 177); */
}

.mobile_mockup:before {
  content: '';
  box-shadow: 0 0 10px #ecb6ad;
  border-radius: 54px;
  width: 97.5%;
  height: 99%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.mobile_mockup .iframe-url {
  position: absolute;
  width: 400px;
  height: 680px;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile_mockup .iframe-url iframe {
  width: 100%;
  height: 100%;
}

.mobile_mockup .camera {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translatex(-50%);
  width: 400px;
  height: 70px;
}

.mobile_mockup .camera span {
  background-color: #444;
  position: absolute;
}

.mobile_mockup .camera span:nth-child(1) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.mobile_mockup .camera span:nth-child(2) {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 50%;
  left: 120px;
  transform: translatey(-50%);
}

.mobile_mockup .camera span:nth-child(3) {
  width: 80px;
  height: 7px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile_mockup .volume {
  position: absolute;
  width: 5px;
  height: 200px;
  top: 85px;
  right: 100.5%;
}

.mobile_mockup .volume span {
  width: 5px;
  height: 60px;
  position: absolute;
  border-radius: 5px 0 0 5px;
}

.mobile_mockup .volume span:nth-child(1) {
  top: 0px;
  left: 0;
  height: 40px;
}

.mobile_mockup .volume span:nth-child(2) {
  bottom: 70px;
}

.mobile_mockup .volume span:nth-child(3) {
  bottom: 0px;
}

.mobile_mockup .power {
  position: absolute;
  left: 100.5%;
  top: 160px;
}

.mobile_mockup .power span {
  position: absolute;
  width: 5px;
  height: 60px;
  border-radius: 5px 0 0 5px;
  transform: rotatey(180deg);
}

.mobile_mockup .volume span, .mobile_mockup .power span {
  background-color: #f1dad7;
}

.mobile_mockup .home-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
  width: 400px;
  height: 82px;
}

.mobile_mockup .home-btn span {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff2f2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile_mockup .home-btn span:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 7px #e9afaf;
  border-radius: 50%;
}
